<!DOCTYPE html>
<html lang="en">

<head>
  <title>LOGIN PAGE</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" type="text/css" href="/styles/login.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/login.js"></script>
</head>

<body class="loginBody">
  <div class="loginBox">
    <div class="titleLogo">
      <h1>PasswordKeepR</h1>
      <img class="logo" src="https://www.freeiconspng.com/thumbs/lock-icon/lock-icon-11.png">
    </div>
    <form method="POST" action="/login">
      <div class="loginFields">
        <input type="email" name="email" placeholder="Email" required/>
        <input type="password" name="password" placeholder="Password" required/>
      </div>
        <div class="loginPageButtons">
          <button class="loginButton">Login</button>
    </form>
        <form class="register" method="GET" action="/register">
          <button class="registerButton">Register</button>
        </form>
      </div>
  </div>
</body>

</html>
