.createPasswordContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .newPasswordForm {
    padding: 25px;
    width: 50%;
    border: 1px solid RGBA(0, 24, 48, 0.2);
    border-radius: 8px;
  }
}
